/img/floor-plan-generation-with-voronoi-diagram/** filter=lfs diff=lfs merge=lfs -text
/img/intuitive-understanding-linear-algebra/** filter=lfs diff=lfs merge=lfs -text
/img/polygon-segmentation/** filter=lfs diff=lfs merge=lfs -text
/img/landbook-rendering-with-diffuser/** filter=lfs diff=lfs merge=lfs -text
/img/synthesized-skyscrapers/** filter=lfs diff=lfs merge=lfs -text
