<style>

  .useBottomLine {
    border-bottom: 1px dotted rgba(128, 128, 128, 0.14);
    padding-bottom: 2em;
  }

  .onClickDiv {
    cursor: pointer;
  }

  .onClickDiv:hover {
      opacity: 0.5;
      transition:opacity 0.5s ease;
    }

  .useGray {
    color: gray;
  }

</style>

<article>
  <header><h2>{{ include.title | default: page.title }}</h2></header>
  <p style="margin-top: -1.5em; color: gray; float: left">{{page.summary}}</p>

  {% if page.id == "testbed" %}
    <p class="onClickDiv" onclick="location.href='../featured'" style="margin-top: -1.5em; float: right; font-size: smaller;"><b><u class="wavyUnderline">&nbsp;featured research&nbsp;</u></b></p>
    <p style="margin-top: -1em">　</p>
    
      {% for post in site.categories.testbed %}
      <div style="margin-top: -0.2em">
        <div class="onClickDiv" onclick="location.href='{{ post.url | relative_url }}';">
          {% if post.featured %}
            <h3><u class="wavyUnderline">{{ post.title }}</u></h3>
          {% else %}
            <h3>{{ post.title }}</h3>
          {% endif %}
          <p style="margin-top: -0.5em; margin-bottom: 0.5em;"><time class="useGray" datetime="{{ post.date | date_to_xmlschema }}" style="font-size: smaller;">{{ post.date | date: "%B %d, %Y" }}</time></p>
          <p style=" text-align: justify; font-size:smaller;">
            {{ post.excerpt | strip_html }}
            {% if post.done %}
              <p style="margin-bottom: 0.5em; font-size: calc(0.5rem + 0.2vw); text-align: right; color: gray;">{{ post.hashtag }}</p>
            {% else %}
              <p class="useBottomLine" style="margin-bottom: 0.5em; font-size: calc(0.5rem + 0.2vw); text-align: right; color: gray;">{{ post.hashtag }}</p>
            {% endif %}
          </p>
        </div>
      </div>
      {% endfor %}

  {% elsif page.id == "featured" %}
    
    <p class="onClickDiv" onclick="location.href='../archive'" style="margin-top: -1.5em; float: right; font-size: smaller;"><b>&nbsp;whole research&nbsp;</b></p>
    <p style="margin-top: -1em">　</p>
    {% for post in site.categories.testbed %}
      {% if post.featured %}
        <div style="margin-top: -0.2em">
          <div class="onClickDiv" onclick="location.href='{{ post.url | relative_url }}';">
            {% if post.featured %}
              <h3><u class="wavyUnderline">{{ post.title }}</u></h3>
            {% else %}
              <h3>{{ post.title }}</h3>
            {% endif %}
            <p style="margin-top: -0.5em; margin-bottom: 0.5em;"><time class="useGray" datetime="{{ post.date | date_to_xmlschema }}" style="font-size: smaller;">{{ post.date | date: "%B %d, %Y" }}</time></p>
            <p style=" text-align: justify; font-size:smaller;">
              {{ post.excerpt | strip_html }}
              {% if post.done %}
                <p style="margin-bottom: 0.5em; font-size: calc(0.5rem + 0.2vw); text-align: right; color: gray;">{{ post.hashtag }}</p>
              {% else %}
                <p class="useBottomLine" style="margin-bottom: 0.5em; font-size: calc(0.5rem + 0.2vw); text-align: right; color: gray;">{{ post.hashtag }}</p>
              {% endif %}
            </p>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  {% elsif page.id == "threebed" %}
    <p style="margin-top: -1em">　</p>
    
      {% for post in site.categories.threebed %}
      <div style="margin-top: -0.2em">
        <div class="onClickDiv" onclick="location.href='{{ post.url | relative_url }}';">
          <h3>{{ post.title }}</h3>
          <p style="margin-top: -0.5em; margin-bottom: 0.5em;"><time class="useGray" datetime="{{ post.date | date_to_xmlschema }}" style="font-size: smaller;">{{ post.date | date: "%B %d, %Y" }}</time></p>
          <p style=" text-align: justify; font-size:smaller;">
            {% if post.done %}
              <p style="margin-bottom: 0.5em; font-size: calc(0.5rem + 0.2vw); text-align: right; color: gray;">{{ post.hashtag }}</p>
            {% else %}
              <p class="useBottomLine" style="margin-bottom: 0.5em; font-size: calc(0.5rem + 0.2vw); text-align: right; color: gray;">{{ post.hashtag }}</p>
            {% endif %}
          </p>
        </div>
      </div>
      {% endfor %}

  {% else %}
  
    <p style="margin-top: -1em">　</p>
      {% for post in site.categories.retrospective %}
      <div style="margin-top: -0.2em">
        <div class="onClickDiv" onclick="location.href='{{ post.url | relative_url }}';">
          {% if post.featured %}
            <h3><u class="wavyUnderline">{{ post.title }}</u></h3>
          {% else %}
            <h3>{{ post.title }}</h3>
          {% endif %}
          <p style="margin-top: -0.5em; margin-bottom: 0.5em;"><time class="useGray" datetime="{{ post.date | date_to_xmlschema }}" style="font-size: smaller;">{{ post.date | date: "%B %d, %Y" }}</time></p>
          <p style=" text-align: justify; font-size:smaller;">
            {{ post.excerpt | strip_html }}
            {% if post.done %}
              <p style="margin-bottom: 0.5em; font-size: calc(0.5rem + 0.2vw); text-align: right; color: gray;">{{ post.hashtag }}</p>
            {% else %}
              <p class="useBottomLine" style="margin-bottom: 0.5em; font-size: calc(0.5rem + 0.2vw); text-align: right; color: gray;">{{ post.hashtag }}</p>
            {% endif %}
          </p>
        </div>
      </div>
      {% endfor %}

  {% endif %}
</article>
