<header>
  <h2>{{ include.post.title }}</h2>
  {%- if include.post.categories contains "note" -%}
    {%- assign date_format = "%m/%d/%Y" -%}
  {%- else -%}
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
  {%- endif -%}
  <time datetime="{{ include.post.date | date_to_xmlschema }}">
    {% if include.post.last_modified_at %}
      {{ include.post.last_modified_at }}
    {% elsif include.post.at %}
      {{ include.post.date | date: date_format }} <i>@ {{ include.post.at }}</i>
    {% else %}
      {{ include.post.date | date: date_format }}
    {% endif %}
  </time>
</header>