<article>
  <header><h2>{{ include.title | default: page.title }}</h2></header>
  <p class="list-summary">{{page.summary}}</p>

  {% assign note_length = site.categories.note | size %}
  {% if page.id == "note" %}
    <p class="clickable list-filter-button" onclick="location.href='../inprogress'"><b><u class="wip-underline"></u></b></p><br>
    <p class="clickable list-filter-button" onclick="location.href='../featured'"><b><u class="wavy-underline"></u></b></p>
    <p class="list-spacer">　</p>

    {% assign pinned_posts = site.categories.note | where: "emoji", "/emoji/pin.png" %}
    {% assign unpinned_posts = site.categories.note | where_exp: "post", "post.emoji != '/emoji/pin.png'" %}
    {% assign all_posts = pinned_posts | concat: unpinned_posts %}

    {% for post in all_posts %}
      <div class="note-post-item">
        <div class="clickable" onclick="handle_click(event, '{{ post.url | relative_url }}');">
          <div class="post-row {% if forloop.last == false %}use-bottom-line{% endif %}">

            <div class="note-emoji-column">
              {% if post.emoji %}
                <img src="{{ post.emoji }}" class="emoji-image">
              {% elsif post.content == empty or post.content == blank %}
                <img src="/emoji/default-empty.png" class="emoji-image">
              {% else %}
                <img src="/emoji/default.png" class="emoji-image">
              {% endif %}
            </div>

            <div class="title-wrapper">
              <div class="title-scroll">
                <h4 class="post-title">
                  {{ post.title }}
                </h4>
              </div>
            </div>

            <div class="note-date-column">
              <time class="use-gray note-date-time" datetime="{{ post.date | date_to_xmlschema }}">
                {% if post.emoji == "/emoji/pin.png" %}
                  {{ post.last_modified_at }}
                {% else %}
                  {{ post.date | date: "%m/%d/%Y" }}
                {% endif %}
              </time>
            </div>

          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</article>
<br><br>
