<article>
  <header><h2>{{ include.title | default: page.title }}</h2></header>
  <p class="list-summary">{{page.summary}}</p>

  {% assign featured_count = 0 %}
  {% assign progress_count = 0 %}
  {% for post in site.categories.testbed %}
    {% if post.featured %}
      {% assign featured_count = featured_count | plus: 1 %}
    {% endif %}
    {% if post.inprogress %}
      {% assign progress_count = progress_count | plus: 1 %}
    {% endif %}
  {% endfor %}

  <span id="filter-buttons">
    {% if featured_count != 0 %}
      <p class="clickable list-filter-button" onclick='filter_posts("featured")'><b><u class="wavy-underline">&nbsp;featured&nbsp;</u></b></p><br>
    {% endif %}
    {% if progress_count != 0 %}
      <p class="clickable list-filter-button" onclick='filter_posts("inprogress")'><b><u class="wip-underline">&nbsp;in progress&nbsp;</u></b></p>
    {% endif %}
  </span>
  <span id="back-button" style="display: none;">
    <p class="clickable list-filter-button" onclick='filter_posts("all")'><b>&nbsp;back to all&nbsp;</b></p>
    <br>
  </span>
  <p class="list-spacer">　</p>

    {% for post in site.categories.testbed %}
      {% assign sorted_hashtag = post.hashtag | split: " " %}

    <div class="testbed-post testbed-post-item" data-featured="{{ post.featured }}" data-inprogress="{{ post.inprogress }}">
      <div class="clickable" onclick="handle_click(event, '{{ post.url | relative_url }}');">
        {% if post.featured %}
          <h3><u class="wavy-underline">{{ post.title }}</u></h3>
        {% elsif post.inprogress %}
            <h3><u class="wip-underline">{{ post.title }}</u></h3>
        {% else %}
          <h3>{{ post.title }}</h3>
        {% endif %}

        {% assign excerpt_part = post.excerpt | strip_html | split: "." %}
        {% assign excerpt_part_size = excerpt_part | size %}

        <p class="testbed-date"><time class="use-gray" datetime="{{ post.date | date_to_xmlschema }}" style="font-size: smaller;">{{ post.date | date: "%B %d, %Y" }}<i><span>{% if post.at %} ＠ {{ post.at }}{% endif %}</span></i></time></p>
        <p style="text-align: justify; font-size: smaller;">
          <div class="testbed-excerpt-wrapper">
            <p class="testbed-excerpt-text">
              {% for i in (0..excerpt_part_size) %}
                {{ excerpt_part[i] }}.
                {% if i == post.splitter %}
                  <br><br>
                {% endif %}
              {% endfor %}
            </p>
            {% if post.thumbnail %}
              <img src="{{ post.thumbnail }}" class="testbed-thumbnail" onerror=handle_image_error(this)>
            {% endif %}
          </div>
          {% if post.done %}
            <p class="testbed-hashtag">{{ sorted_hashtag | sort | join: " " }}</p>
          {% else %}
            <p class="testbed-hashtag use-bottom-line--padded">{{ sorted_hashtag | sort | join: " " }}</p>
          {% endif %}
        </p>
      </div>
    </div>
    {% endfor %}

</article>
