---
layout: default
---

<link rel="stylesheet" href="{{ site.highlightjs.css }}">
<script src="{{ site.highlightjs.js }}"></script>
<script>
  hljs.highlightAll();
</script>

{% unless page.mathjax %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
    TeX: {
      extensions: ["cancel.js"]
    }
  });
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endunless %}

<article>

  {% include meta.html post=page %}

  {{ content }}

  {% if page.comment != false and page.content != empty %}
    <div class="col-lg-8 col-md-10 mx-auto">
      <hr />

      <script src="https://utteranc.es/client.js"
        repo="{{ site.utterances.repo }}"
        issue-term="url"
        label="comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
      </script>
    </div><br><br>
  {% endif %}

</article>
